$font: Outfit, sans-serif;
$white: hsl(0, 0%, 100%);
$light-gray: hsl(212, 45%, 89%);
$grayish-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(218, 44%, 22%);

:root {
    font-family: $font;
}

body {
    background: $light-gray;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    background: $white;
    justify-content: center;
    align-items: center;
    margin: 1.4em;
    padding: 1em 1em;
    border-radius: 20px;
    width: min-content;
    box-shadow: 6px 6px 10px 2px rgba(0,0,0,0.05);
    img {
        width: 19em;
        height: 19em;
        border-radius: 10px;
        margin: 0;
    }
    .text-container {
        text-align: center;
        margin: 0;
        padding: 1em;
        h1 {
            font-weight: 700;
            //font-size: 1.42rem;
            font-size: 21px;
            color: $dark-blue;
            margin: 0;
            padding: 0.3em;
        }
        p {
            font-weight: 400;
            //font-size: 1rem;
            font-size: 15px;
            color: $grayish-blue;
            margin: 0;
            padding: 0.55em;
        }
    }
}

footer.attribution {
    display: none;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
}
